<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <title>{% block title %}Malbox Greenhouse{% endblock %}</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
</head>
<body >

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto text-center">
        <div class="inner">
          <h3 class="masthead-brand">Malbox - Greenhouse</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'index' %}">Home</a>
            <a class="nav-link" href="{% url 'apiresults' %}">API Results</a>
            <a class="nav-link" href="{% url 'vagresults' %}">Vag Objects</a>
            <a class="nav-link" href="{% url 'apiBoxDetail' %}">apiBoxDetail</a>
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>

          </nav>
        </div>
      </header>


    <main role="main" class="inner cover justify-content-center">
        {% block content %}{% endblock %}
     </main>

    <footer class="fixed-bottom bg-dark">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>
  </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>
